.clearfix {
    zoom: 1;
}

    .clearfix:after {
        content: "";
        display: block;
        clear: both;
        height: 0;
    }

body {
    border: 1px solid black;
    display:inline-block;
    width:620px;
}

nav {
    text-align: center;
}

    nav a {
        color: rgb(0, 148, 255);
        padding-right: 2px;
    }

hr {
    color: black;
    background-color: black;
    height: 3px;
    margin: 10px;
}
/*Section*/
section {
    border: 1px solid black;
    width:420px;
    float:left;
    margin-bottom:10px;
    padding: 0px 3px 10px;
}

article {
    display: inline-block;
    

}
.field-align-left {
display:inline-block;
float:left;

}
.field-align-right {
display:inline-block;
float:right;

}
img {
    height: 50px;
    width: 50px;
    float: left;
}

span {
    display: block;
    padding-left: 100px;
    padding-top: 10px;
}

div {
    display:block;
    float: left;
}
/*Aside*/
aside {
text-align:right;

}
ul {
list-style:none;
margin-top:100px;
}
li {
text-align:center;
margin:10px 0px;
}